################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfExceel/obj/Debug
/.vs/WpfExceel/v15/Server/sqlite3
/.vs/WpfExceel/v15/.suo
/packages/System.ComponentModel.Annotations.4.5.0
/.vs/DemandPredictor/v15/Server/sqlite3
/.vs/ForecastingDemand/v15/Server/sqlite3/storage.ide
/.vs/ForecastingDemand/v15/Server/sqlite3/db.lock
/.vs/ForecastingDemand/v15/Server/sqlite3
/.vs/ForecastingDemand/v15/.suo
/.vs/ForecastingDemand/v15
/.vs/ForecastingDemand/v14/.suo
/WpfExceel/bin/Debug/LiveCharts.dll
/WpfExceel/bin/Debug/LiveCharts.Wpf.dll
/WpfExceel/bin/Debug/LiveCharts.pdb
/WpfExceel/bin/Debug/LiveCharts.xml
/WpfExceel/bin/Debug/LiveCharts.Wpf.xml
/WpfExceel/bin/Debug/LiveCharts.Wpf.pdb
/WpfExceel/bin/Debug/WpfExceel.vshost.exe.manifest
/WpfExceel/bin/Debug/WpfExceel.vshost.exe.config
/WpfExceel/bin/Debug/WpfExceel.vshost.exe
