################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfExceel/obj/Debug
/.vs/WpfExceel/v15/Server/sqlite3
/.vs/WpfExceel/v15/.suo
/packages/System.ComponentModel.Annotations.4.5.0
/.vs/DemandPredictor/v15/Server/sqlite3
/.vs/ForecastingDemand/v15/Server/sqlite3/storage.ide
/.vs/ForecastingDemand/v15/Server/sqlite3/db.lock
/.vs/ForecastingDemand/v15/Server/sqlite3
/.vs/ForecastingDemand/v15/.suo
/.vs/ForecastingDemand/v15
